@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Tema Claro (Light Mode) com a paleta Lumas */
  :root {
    --background: 0 0% 98%; /* #FAFAFA */
    --foreground: 228 34% 24%; /* #283655 */

    --card: 0 0% 98%; /* #FAFAFA */
    --card-foreground: 228 34% 24%; /* #283655 */

    --popover: 0 0% 98%; /* #FAFAFA */
    --popover-foreground: 228 34% 24%; /* #283655 */

    --primary: 228 81% 60%; /* #4867ED */
    --primary-foreground: 0 0% 98%; /* Texto branco/claro em cima do azul primário */

    --secondary: 0 0% 86.3%; /* #DCDCDC */
    --secondary-foreground: 228 34% 24%; /* #283655 */

    --muted: 0 0% 86.3%; /* #DCDCDC */
    --muted-foreground: 228 34% 40%; /* Um tom um pouco mais escuro que o foreground para texto "muted" */

    --accent: 0 0% 86.3%; /* #DCDCDC */
    --accent-foreground: 228 34% 24%; /* #283655 */

    --destructive: 0 84.2% 60.2%; /* Mantido como vermelho padrão para erros */
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 86.3%; /* #DCDCDC */
    --input: 0 0% 86.3%; /* #DCDCDC */
    --ring: 228 81% 60%; /* #4867ED */

    --radius: 0.5rem;
  }

  /* Tema Escuro (Dark Mode) com a paleta Lumas */
  .dark {
    --background: 228 34% 24%; /* #283655 */
    --foreground: 0 0% 98%; /* #FAFAFA */

    --card: 228 34% 28%; /* Um pouco mais claro que o fundo */
    --card-foreground: 0 0% 98%; /* #FAFAFA */

    --popover: 228 34% 24%; /* #283655 */
    --popover-foreground: 0 0% 98%; /* #FAFAFA */

    --primary: 228 81% 60%; /* #4867ED */
    --primary-foreground: 0 0% 98%; /* Texto branco/claro em cima do azul primário */

    --secondary: 228 34% 28%; /* Um pouco mais claro que o fundo */
    --secondary-foreground: 0 0% 98%; /* #FAFAFA */

    --muted: 228 34% 28%; /* Um pouco mais claro que o fundo */
    --muted-foreground: 0 0% 60%; /* Cinza para texto "muted" */

    --accent: 228 34% 28%; /* Um pouco mais claro que o fundo */
    --accent-foreground: 0 0% 98%; /* #FAFAFA */

    --destructive: 0 62.8% 30.6%; /* Mantido como vermelho padrão para erros */
    --destructive-foreground: 0 0% 98%;

    --border: 228 34% 28%; /* Um pouco mais claro que o fundo */
    --input: 228 34% 28%; /* Um pouco mais claro que o fundo */
    --ring: 228 81% 60%; /* #4867ED */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .blog-content img {
    @apply w-full;
  }
}